# TUPPLE

In [ ]:
# tuple with mixed datatype
my_tuple=(1,"hello",3.4)
print(my_tuple)

(1, 'hello', 3.4)

In [ ]:
#nested tuple
my_tuple=("shubham",[8,4,6],(1,2,3))
print(my_tuple)

('shubham', [8, 4, 6], (1, 2, 3))

In [ ]:
#a tuple can also be created without using parentheses.
#this is knownas tuple packing.
my_tuple=3,4.6,"dragonfruit"
print(my_tuple)

(3, 4.6, 'dragonfruit')

In [ ]:
#accessing tuple element using indexing
my_tuple=('p','e','r','m','i','t')

print(my_tuple[0]) #p
print(my_tuple[5]) #t

p
t

In [ ]:
# nested tuple
n_tuple=("mouse",[8,4,6],(1,2,3))
#nested index
print(n_tuple[0][4])
print(n_tuple[1][1])

e
4

In [ ]:
#accessing tuple element using slicing

In [ ]:
#concatenation
#output:(1,2,3,4,5,6)
print((1,2,3)+(4,5,6))

(1, 2, 3, 4, 5, 6)

In [ ]:
#repeat
#output:('repeat','repeat','repeat')
print(("repeat",)*3)

('repeat', 'repeat', 'repeat')

In [ ]:
my_tuple=('a','p','p','l','e')
print(my_tuple.count('p'))
print(my_tuple.count('a'))

2
1

#SET

In [ ]:
#set of integers
my_set={1,2,3}
print(my_set)

{1, 2, 3}

In [ ]:
#set of mixed datatypes
me_set={1.0,"oye",(1,2,3)}
print(my_set)

{1, 2, 3}

In [ ]:
#set cannot have duplicates
#output:{1,2,3,4}
me_set={1,2,3,4,3,2}
print(my_set)

{1, 2, 3}

In [ ]:
#we acn make set from a list
#output:{1,2,3}
my_set=set([1,2,3,2])
print(my_set)

{1, 2, 3}

In [ ]:
my_set={1,2,[3,4]}
#set cannot have mutable items
#here [3,4]is a mutable list
#this will cause an error.

TypeError: unhashable type: 'list'

In [ ]:
#initialize a with set()
a=set()
#check data type of a
print(type(a))

<class 'set'>

In [ ]:
#initialize my_set
my_set={1,3}
print(my_set)

{1, 3}

In [ ]:
#add an element
#output:{1,2,3}
my_set.add(2)
print(my_set)

{1, 2, 3}

In [ ]:
#add multiplt element
#output:{1,2,3,4}
my_set.update([2,3,4])
print(my_set)

{1, 2, 3, 4}

In [ ]:
#add list and set
#output:{1,2,3,4,5,6,8}
my_set.update([4,5],{1,6,8})
print(my_set)

{1, 2, 3, 4, 5, 6, 8}

In [ ]:
#initialize my set
my_set={1,3,4,5,6}
print(my_set)

{1, 3, 4, 5, 6}

In [ ]:
#discard an element
#output:{1,2,5,6}
my_set.discard(4)
print(my_set)

{1, 3, 5, 6}

In [ ]:
#remove an element
#output:{1,3,5}
my_set.remove(6)
print(my_set)

{1, 3, 5}

In [ ]:
#pop a random utem
my_set.pop()
print(my_set)

{3, 5}

In [ ]:
#clear my_set
#output:set()
my_set.clear()
print(my_set)

set()

In [ ]:
A={1,2,3,4,5}
B={4,5,6,7,8}

In [ ]:
#use|operator
#output:{1,2,3,4,5,6,7,8}
print(A|B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
#use union function
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
#use union function on B
B.union(A)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
#use & operator
#output:{4,5}
print(A&B)

{4, 5}

In [ ]:
#use A intersection function with B
A.intersection(B)

{4, 5}

In [ ]:
#use - operator on A
#output:{1,2,3}
print(A-B)

{1, 2, 3}

In [ ]:
#use different function on A
A.difference(B)

{1, 2, 3}

In [ ]:
#use - operator on B
B-A

{6, 7, 8}

In [ ]:
#use ^ operator
#output:{11,2,3,6,7,8}
print(A^B)

{1, 2, 3, 6, 7, 8}

In [ ]:
#use symmetric_diference function on A
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [ ]:
X={'laptop','adopter','router','cellphone','ipad'}
Y={'ipad','CPU','monitor','UPS','printer'}

In [ ]:
print(X|Y)

{'adopter', 'laptop', 'CPU', 'ipad', 'cellphone', 'printer', 'UPS', 'monitor', 'router'}

In [ ]:
print(X&Y)

{'ipad'}

In [ ]:
print(X-Y)

{'adopter', 'cellphone', 'laptop', 'router'}

In [ ]:
print(X^Y)

{'adopter', 'laptop', 'CPU', 'cellphone', 'printer', 'UPS', 'monitor', 'router'}

DICTIONARY

In [ ]:
#dictionary with integer keys
my_dict={1:'apple',2:'banana'}

In [ ]:
#get vs [] for retriving elements
my_dict={'name':'shubham','age':26}

In [ ]:
#output:jack
print(my_dict['name'])

shubham

In [ ]:
#output:26
print(my_dict.get('age'))

26

In [ ]:
#trying to access keys which
#dosen't exist throws error
print(my_dict['address'])

KeyError: 'address'

In [ ]:
#use grt()for key extraction
print(my_dict.get('address'))

None

In [ ]:
#updtae value
my_dict['age']=27

In [ ]:
#add item
my_dict['address']='lucknow'

In [ ]:
#output:{'age':27,'name':'shubham'}
print(my_dict)

{'name': 'shubham', 'age': 27, 'address': 'lucknow'}

In [ ]:
#create a dictionary
squares={1:1,2:4,3:9,4:16,5:25}

In [ ]:
#remove a particular item,returns its value
#output:16
print(squares.pop(4))

16

In [ ]:
#remove an arbitary item,return(key,value)
#output:(5,25)
print(squares.popitem())

(5, 25)

In [ ]:
#remove all items
squares.clear()

In [ ]:
#delete the dictionary itself
del squares

In [ ]:
#create a dictionary
squares={1:1,2:4,3:9,4:16,5:25}

In [ ]:
#only keys
for i in squares:
    print(i)

1
2
3
4
5

In [ ]:
#only values usig i as key
for i in squares:
    print(squares[i])

1
4
9
16
25

In [ ]:
#using items () function to get both key and value
for k,v in squares.items():
    print(k,v)

1 1
2 4
3 9
4 16
5 25

In [ ]:
students= {'shubham':{
'english':76,
'maths':74,
'science':82,
'computer':87,
'evs':95
},
'anamika':{
'english':86,
'maths':94,
'science':92,
'computer':89,
'evs':99
},
'sudhanshu':{
'english':96,
'maths':89,
'science':94,
'computer':92,
'evs':98
}
}
print(students)

{'shubham': {'english': 76, 'maths': 74, 'science': 82, 'computer': 87, 'evs': 95}, 'anamika': {'english': 86, 'maths': 94, 'science': 92, 'computer': 89, 'evs': 99}, 'sudhanshu': {'english': 96, 'maths': 89, 'science': 94, 'computer': 92, 'evs': 98}}

In [ ]:
for name,marks in students.items():
    print(name)
    for subject,score in marks.items():
        print(subject,score)

shubham
english 76
maths 74
science 82
computer 87
evs 95
anamika
english 86
maths 94
science 92
computer 89
evs 99
sudhanshu
english 96
maths 89
science 94
computer 92
evs 98

question=wap to store word meaning in a dictionary

In [33]:
data={}
while True:
    word=input("enter a word:")
    if word:
        if word in data:
            print(word,"=>",data[word])
        else:
            print("not found")
            if input(f'do you know the meaning of {word}(y/n):')== 'y':
                data[word]=input("enter the meaning:")
    else:
        print('exiting')
        break