In [30]:
x='shubham singh'
for char in x:
 print(char,end=" ")

s h u b h a m   s i n g h

In [31]:
brand=['audi,lexus,ferrari,bmw']
for cars in brand:
    print(f'i dreamed to buy {cars}',end=" ")

i dreamed to buy audi,lexus,ferrari,bmw

In [32]:
# range with start value
for i in range(82):
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81

In [33]:
# range with start and end value
for i in range(6,56):
    print(i,end=' ')

6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55

In [34]:
# range with start,stop and gap value
for i in range(2,24,3):
    print(i,end=' ')

2 5 8 11 14 17 20 23

In [35]:
# reverse for loop
for i in range(50,12,-2):
    print(i,end=' ')

50 48 46 44 42 40 38 36 34 32 30 28 26 24 22 20 18 16 14

In [36]:
for i in range(0,12):
    print(i*"$")

$
$$
$$$
$$$$
$$$$$
$$$$$$
$$$$$$$
$$$$$$$$
$$$$$$$$$
$$$$$$$$$$
$$$$$$$$$$$

In [37]:
for i in range(12,0,-1):
    print(i*'@')

@@@@@@@@@@@@
@@@@@@@@@@@
@@@@@@@@@@
@@@@@@@@@
@@@@@@@@
@@@@@@@
@@@@@@
@@@@@
@@@@
@@@
@@
@

In [ ]:
## for loop supporting functions
-enumerate->it helps to give the index value of every item in a sequence
-zip->provide a simple way to mix 2 or more sequence in a single loop

In [ ]:
number=[11,12,13,14,15]
for idx,num in enumerate(number):
    print(f'{idx}]{num}')

0]11
1]12
2]13
3]14
4]15

In [ ]:
names=['shubh','annu','anamika']
for idx,name in enumerate(names):
    print(f'{idx}]{name}')

0]shubh
1]annu
2]anamika

In [ ]:
names=['shubh and anamika are good frnds']
for i,v in enumerate(names):
    print(f'{idx}]{name}')

0]shubh and anamika are good frnds

In [ ]:
#string
msg='i want to earn in $'
print(msg.replace('$','-'))

i want to earn in -

In [ ]:
msg='i want to earn in $'
for v in "aeiouAEIOU":
    msg=msg.replace(v,'')
print(msg)

 wnt t rn n $

In [ ]:
msg='i want to earn in $'
print(msg.replace('$','dollar'))

i want to earn in dollar

In [ ]:
#count sub sequence

In [ ]:
msg='i want to earn in $'
msg.count('i')

2

In [ ]:
msg='i want to earn in $'
msg.startswith('i')

True

In [ ]:
msg='i want to earn in $'
msg.startswith('want')

False

In [ ]:
msg='i want to earn in $'
msg.endswith('i')

False

In [ ]:
msg='i want to earn in $'
msg.endswith('$')

True

In [50]:
guests_names=['mrs.white','mr.peacock','mrs.plum','col.mustard','prof.plum','mr.green','mrs.green']
for name in guests_names:
    if name.startswith('mr.') or name.startswith('mrs.'):
         print(name)

mrs.white
mr.peacock
mrs.plum
mr.green
mrs.green

In [54]:
bigtext='life is to love not to destroy.i lake watching anime'
stopwords=['to','of','in','for','by']
for word in stopwords:
    print(word,bigtext.count(word))

to 2
of 0
in 1
for 0
by 0

In [59]:
value=input('enter a value:')
if value.isnumeric():
    print("your value is numeric")
elif value.isalpha():
    print("your value is alphabet")
elif value.isalnum():  
    print("your value is alphanumeric")
elif value.isspace():   
    print("your value is space only")   
else:
     print("your value is specialcharacter")

your value is alphabet

In [14]:
msg='hello every one,today we are gonna see few extraordinary skills'
for idx,word in enumerate(msg):
    print(f'{idx}{word}')

0h
1e
2l
3l
4o
5
6e
7v
8e
9r
10y
11
12o
13n
14e
15,
16t
17o
18d
19a
20y
21
22w
23e
24
25a
26r
27e
28
29g
30o
31n
32n
33a
34
35s
36e
37e
38
39f
40e
41w
42
43e
44x
45t
46r
47a
48o
49r
50d
51i
52n
53a
54r
55y
56
57s
58k
59i
60l
61l
62s

In [ ]:
#can any variable be solved by putting it in string?
ans=yes

In [64]:
x=10
y=20
eq=input('enter an equation using x and y')
print(eq,eval(eq))

x*y-y*x 0

In [ ]:
#data structure
-list
-tuple
-set
-dictionary

In [ ]:
##list
indexed,ordered,heterogenous data structure and is mutable and can contain duplicate value

In [ ]:
##task
*creation
*indexing and slicing
*functions
*other stuff

In [2]:
a=[1,2,3,4,5,6]
print(a)
print(type(a))

[1, 2, 3, 4, 5, 6]
<class 'list'>

In [4]:
name='shubham singh'
chars=list(name)
chars

['s', 'h', 'u', 'b', 'h', 'a', 'm', ' ', 's', 'i', 'n', 'g', 'h']

In [5]:
msg="journey to the west"
words=msg.split()
words

['journey', 'to', 'the', 'west']

In [7]:
a=1
b=2
c=3
l1=[a,b,c]
print(l1)

[1, 2, 3]

In [8]:
#clone content in a list
x=10
xlist=[x]*6
print(xlist)

[10, 10, 10, 10, 10, 10]

In [10]:
chars
print(chars[0])
print(chars[-1])
print(chars[-2])
print(chars[1])

s
h
g
h

In [12]:
chars[5]='h'
chars

['s', 'h', 'u', 'b', 'h', 'h', 'm', ' ', 's', 'i', 'n', 'g', 'h']

In [13]:
n1=[1,2,3,4,5,6,7,8,9,10]

In [14]:
n1[:5]

[1, 2, 3, 4, 5]

In [15]:
n1[-5:]

[6, 7, 8, 9, 10]

In [16]:
n1[3:-3]

[4, 5, 6, 7]

In [17]:
for i in n1:
    print(i,end='')

12345678910

In [18]:
x=[[1,2,3],[1,2,3,4],[3,4,5]]
print(x)
for item in x:
    print(item)

[[1, 2, 3], [1, 2, 3, 4], [3, 4, 5]]
[1, 2, 3]
[1, 2, 3, 4]
[3, 4, 5]

In [19]:
for sublist in x:
    for i in sublist:
        print(i)

1
2
3
1
2
3
4
3
4
5

functions

In [20]:
x=[]#empty list
y=[1,2,3]

In [22]:
x.append(12)
x.append(15)
x.append(13)
x.append(14)
x.append(88)
x.append(74)
print(x)

[12, 12, 15, 13, 14, 88, 74]

In [23]:
x.insert(2,22)
print(x)

[12, 12, 22, 15, 13, 14, 88, 74]

In [25]:
x.insert(2,'cool')
print(x)

[12, 12, 'cool', 22, 15, 13, 14, 88, 74]

In [26]:
x.extend(y)
print(x)

[12, 12, 'cool', 22, 15, 13, 14, 88, 74, 1, 2, 3]

In [40]:
x

[12, 12, 22, 13, 14, 88, 74, 1, 2, 3]

In [46]:
x.remove(12)
x

[12, 22, 13, 14, 88, 74, 1, 2, 3]

In [37]:
if 10 in x:
    x.remove(10)

In [35]:
x.pop(3)
x

[12, 12, 22, 13, 14, 88, 74, 1, 2, 3]

In [47]:
x.clear()
print(x)

[]

In [48]:
names=['sam','alex','bob','carl','david','jojo','kate']

In [49]:
names.reverse()
print(names)

['kate', 'jojo', 'david', 'carl', 'bob', 'alex', 'sam']

In [50]:
names.sort()
print(names)

['alex', 'bob', 'carl', 'david', 'jojo', 'kate', 'sam']

In [51]:
x=[1,2,3,4,5,1,2,3]
y=['a','x','z','b']
z=[1,2,'a','b'] ##mixed type cannot be sorted
x.sort()
print(x)
y.sort()
print(y)

[1, 1, 2, 2, 3, 3, 4, 5]
['a', 'b', 'x', 'z']

z.sort()# this will show error bcz z is mixed list
print(z)

list with user input(basic)

In [52]:
days=[]
for i in range(6):
    a=input("names of days:")
    days.append(a)
print(days)

['sunday', 'monday ', 'tuesday ', 'wednesday', 'thursday ', 'friday']

list with user input(advance)

In [10]:
num=list(map(int,input().split()))
print(num)

[1, 2, 8, 4, 5, 6, 9, 10]

In [8]:
word=input().split()
print(word)

['apple', 'banana', 'mango']